{
	admin off
	persist_config off
	servers {
		protocols h1 h2c
	}
}

(serve_files) {
	encode zstd gzip
	file_server {
		precompressed br
	}
}

(security_headers) {
	header {
		-Server
		Content-Security-Policy "default-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; object-src 'none'; base-uri 'none'; form-action 'none'; frame-ancestors 'none'"
		Permissions-Policy "geolocation=(), camera=(), microphone=()"
		Referrer-Policy strict-origin-when-cross-origin
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
	}
}

:{$PORT:8080} {
	root * /srv

	@www host www.{$SITE_HOST:marshallford.me}
	redir @www https://{$SITE_HOST:marshallford.me}{uri} permanent

	import security_headers

	@immutable path /images/* /css/* /fonts/*
	header @immutable Cache-Control "public, max-age=31536000, immutable"

	@revalidate not path /images/* /css/* /fonts/*
	header @revalidate Cache-Control "no-cache"

	handle_errors {
		import security_headers
		header Cache-Control "no-cache"
		rewrite * /404.html
		import serve_files
	}

	import serve_files
}
