server {
  listen ${PORT};
  listen [::]:${PORT};
  server_name www.${NGINX_HOST};
  return 301 $scheme://${NGINX_HOST}$request_uri;
}

server {
  listen ${PORT};
  listen [::]:${PORT};
  server_name ${NGINX_HOST};
  root /usr/share/nginx/html;
  include h5bp/errors/custom_errors.conf;
  include h5bp/basic.conf;
  include h5bp/web_performance/content_transformation.conf;
}
