html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  margin: 0 0 1rem 0;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.8em;
  code {
    background: $dark-gray;
    border: $dark-gray solid 1px;
    border-radius: 2px;
  }
}

ul, ol {
  margin: 0 0 1rem 0;
  line-height: 1.8em;
}

ol {
  counter-reset: item;
}
ol li { display: block }

ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
}

#hero {
  background: url($header_url) no-repeat center center scroll, linear-gradient(0deg, $header_gradient);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  nav {
    background: $black;
    opacity: .3;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 1.25rem 0 0;
      padding: 0;
      li {
        list-style: none;
        margin: 10px;
        svg {
          fill: white;
          width: 28px;
          height: 28px;
          &:focus, &:hover {
            transition: fill .25s ease-out;
            opacity: .5;
          }
        }
      }
    }
  }
  header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .welcome {
      overflow: hidden;
      max-width: map-get($grid-breakpoints, lg);
      width: 90%;
      color: $offwhite;
      font-size: 2.5rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      justify-content: center;
      @include media-breakpoint-down(lg) {
        font-size: 2.1rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.8rem;
      }
      h1 {
        margin: 0 0 .75em 0;
        text-align: center;
      }
      .button {
        outline: none;
        background: $green;
        color: $offwhite;
        padding: .5em .75em;
        font-size: 1.1em;
        border-radius: 2px;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:focus, &:hover {
          transition: background-color .25s ease-out;
          background: $dark-green;
        }
        span {
          margin: 0 .5em 0 0;
        }
        svg {
          fill: currentColor;
          width: .75em;
          height: .75em;
        }
      }
    }
  }
}

#more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0 0 0;
  color: $offwhite;
  border-top: solid 4px $dark-gray;
  background-color: $gray;
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .4;
    background: url($bg_url) repeat center center scroll;
    z-index: 1;
  }
  .main {
    z-index: 2;
    max-width: map-get($grid-breakpoints, lg);
    padding: 0 1.5rem 0 1.5rem;
    a {
      color: $yellow;
      font-weight: bold;
      text-decoration: underline;
      &:focus, &:hover {
        transition: background-color .25s ease-out;
        background: $yellow;
        color: $gray;
      }
    }
    h2 {
      font-size: 3.5rem;
      color: $dark-gray;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      border-bottom: 4px solid $dark-gray;
    }
    h3 {
      font-size: 2.5rem;
      color: $dark-gray;
      display: flex;
      align-items: baseline;
      span {
        svg {
          fill: lighten($gray, 15);
          width: .75em;
          height: .75em;
          margin: 0 0 .25em .25em;
        }
      }
    }
    .aboutme {
      display: flex;
      flex-direction: column;
      img {
        align-self: center;
        margin: 0 0 1rem 0;
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        border: solid 4px $dark-gray;
      }
      ul, ol {
        padding: 0 0 0 0em;
        list-style-position: inside;
        li {

        }
      }
    }
    .projects {
      .project {
        margin: 0 0 2rem 0;
      }
      header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        & > * {
          margin: 0 0 .5rem 0;
          &:not(:last-child) {
            margin: 0 1rem .5rem 0;
          }
        }
        .pill {
          border: $offwhite solid 2px;
          border-radius: 2px;
          background-color: transparent;
          color: $offwhite;
          padding: .4rem .5rem;
          line-height: 1;
          text-transform: uppercase;
          text-decoration: inherit;
          font-size: 1.2rem;
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            fill: currentColor;
            width: 1em;
            height: 1em;
            margin: 0 0 0 .25em;
          }
        }
        a.pill {
          border: $yellow solid 2px;
          color: $yellow;
          &:focus, &:hover {
            transition: background-color .25s ease-out;
            background: $yellow;
            color: $gray;
          }
        }
      }
    }
    footer {
      display: flex;
      justify-content: center;
      color: lighten($gray, 15);
      text-align: center;
      word-break: break-word;
    }
    .row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 0 -1.5rem 2rem -1.5rem;
    }
    .col {
      padding: 0 1.5rem 2rem 1.5rem;
      flex: 1 0 100%;
    }
    .col-2 {
      flex: 1 0 50%;
      max-width: map-get($grid-breakpoints, sm);
      @include media-breakpoint-down(sm) {
        flex: 1 0 100%;
      }
    }
  }
}
