/* apply a natural box layout model to all elements, but allowing components to change */
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* https://css-tricks.com/snippets/css/force-vertical-scrollbar/ */
html {
  overflow-y: scroll;
}

/* variables */
$black: #222;
$green: #1b6538;
$dark-green: darken($green, 5);
$blue: #8BA5CA;
$gray: #4C585C;
$dark-gray: darken($gray, 10);
$offwhite: #E1EBF4;
$yellow: #f7de86;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
